In [137]:
import numpy as np
import pandas as pd
import csv
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import scale
from sklearn.neighbors import KNeighborsRegressor

In [138]:
tr_df=pd.read_csv('train.csv', nrows=1e5)
tr_df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [139]:
tr_df.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [140]:
tr_df=tr_df.dropna()
tr_df.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [141]:
tr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                100000 non-null  object
 1   fare_amount        100000 non-null  float64
 2   pickup_datetime    100000 non-null  object
 3   pickup_longitude   100000 non-null  float64
 4   pickup_latitude    100000 non-null  float64
 5   dropoff_longitude  100000 non-null  float64
 6   dropoff_latitude   100000 non-null  float64
 7   passenger_count    100000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 6.9+ MB

In [142]:
# split_data = tr_df["pickup_datetime"].str.split("-")
# data = split_data.to_list()
# names = ["year","month","date_time"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df["date_time"]=temp_df["date_time"].str.replace(' UTC','')
# temp_df.head()

In [143]:
# tr_df=tr_df.drop(columns=['pickup_datetime'])
# tr_df=pd.concat([tr_df,temp_df],axis=1)
# tr_df.head()

In [144]:
# tr_df=tr_df.dropna()
# split_data = tr_df["date_time"].str.split(" ")
# data = split_data.to_list()
# names = ["date","time"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df.head()

In [145]:
# tr_df=tr_df.drop(columns=['date_time'])
# tr_df=pd.concat([tr_df,temp_df],axis=1)
# tr_df.head()

In [146]:
# tr_df=tr_df.dropna()
# split_data = tr_df["time"].str.split(":")
# data = split_data.to_list()
# names = ["hours","minutes","seconds"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df.head()

In [147]:
# tr_df=tr_df.drop(columns=['time'])
# tr_df=pd.concat([tr_df,temp_df],axis=1)
# tr_df.head()

In [148]:
# tr_df.isnull().sum()

In [149]:
# tr_df=tr_df.dropna()
# tr_df.isnull().sum()

In [150]:
# tr_df.info()

In [151]:
# tr_df=tr_df.astype({'passenger_count':'int64','year':'int64','month':'int64','date':'int64','hours':'int64','minutes':'int64','seconds':'int64'})
# tr_df.info()

In [152]:
tr_df['pickup_longitude']=-1000*scale(tr_df['pickup_longitude'])
tr_df['pickup_latitude']=1000*scale(tr_df['pickup_latitude'])
tr_df['dropoff_longitude']=-1000*scale(tr_df['dropoff_longitude'])
tr_df['dropoff_latitude']=1000*scale(tr_df['dropoff_latitude'])
tr_df=tr_df[tr_df['fare_amount']>0]
train_labels=np.array(tr_df['fare_amount'])
tr_df=tr_df.drop(columns=['key','fare_amount','pickup_datetime'])
train_features=np.array(tr_df)
tr_df.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,126.205722,129.598828,128.984825,127.663713,1
1,142.265094,127.990001,142.131001,138.885596,1
2,139.150228,136.015985,143.274504,133.825239,2
3,139.560931,131.498066,143.305541,135.037136,1
4,137.780941,137.098281,139.971486,139.168533,1

In [153]:
te_df=pd.read_csv('test.csv')
submsn1_df=te_df
submsn2_df=te_df
te_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                9914 non-null   object
 1   pickup_datetime    9914 non-null   object
 2   pickup_longitude   9914 non-null   float64
 3   pickup_latitude    9914 non-null   float64
 4   dropoff_longitude  9914 non-null   float64
 5   dropoff_latitude   9914 non-null   float64
 6   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 542.3+ KB

In [154]:
te_df.isnull().sum()

key                  0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [155]:
te_df=te_df.drop(columns=['key','pickup_datetime'])
te_df.head()

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,-73.973320,40.763805,-73.981430,40.743835,1
1,-73.986862,40.719383,-73.998886,40.739201,1
2,-73.982524,40.751260,-73.979654,40.746139,1
3,-73.981160,40.767807,-73.990448,40.751635,1
4,-73.966046,40.789775,-73.988565,40.744427,1

In [156]:
te_df['pickup_longitude']=1000*scale(te_df['pickup_longitude'])
te_df['pickup_latitude']=1000*scale(te_df['pickup_latitude'])
te_df['dropoff_longitude']=-1000*scale(te_df['dropoff_longitude'])
te_df['dropoff_latitude']=1000*scale(te_df['dropoff_latitude'])

In [157]:
# split_data = te_df["pickup_datetime"].str.split("-")
# data = split_data.to_list()
# names = ["year","month","date_time"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df["date_time"]=temp_df["date_time"].str.replace(' UTC','')
# temp_df.head()

In [158]:
# te_df=te_df.drop(columns=['pickup_datetime'])
# te_df=pd.concat([te_df,temp_df],axis=1)
# te_df.head()

In [159]:
# te_df=te_df.dropna()
# split_data = te_df["date_time"].str.split(" ")
# data = split_data.to_list()
# names = ["date","time"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df.head()

In [160]:
# te_df=te_df.drop(columns=['date_time'])
# te_df=pd.concat([te_df,temp_df],axis=1)
# te_df.head()

In [161]:
# te_df=te_df.dropna()
# split_data = te_df["time"].str.split(":")
# data = split_data.to_list()
# names = ["hours","minutes","seconds"]
# temp_df = pd.DataFrame(data, columns=names)
# temp_df.head()

In [162]:
# te_df=te_df.drop(columns=['time'])
# te_df=pd.concat([te_df,temp_df],axis=1)
# te_df.head()

In [163]:
te_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pickup_longitude   9914 non-null   float64
 1   pickup_latitude    9914 non-null   float64
 2   dropoff_longitude  9914 non-null   float64
 3   dropoff_latitude   9914 non-null   float64
 4   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 387.4 KB

In [164]:
# te_df=te_df.astype({'passenger_count':'int64','year':'int64','month':'int64','date':'int64','hours':'int64','minutes':'int64','seconds':'int64'})
# te_df.info()

In [165]:
test_features=np.array(te_df)

In [166]:
lin_reg=LinearRegression()
lin_reg.fit(train_features,train_labels)
# lin_reg.score(train_features,train_labels)

LinearRegression()

In [167]:
grb=GradientBoostingRegressor(n_estimators=1000,max_features='sqrt')
grb.fit(train_features,train_labels)
# grb.score(train_features,train_labels)

GradientBoostingRegressor(max_features='sqrt', n_estimators=1000)

In [168]:
knn=KNeighborsRegressor()
knn.fit(train_features,train_labels)
# knn.score(train_features,train_labels)

KNeighborsRegressor()

In [169]:
pred=grb.predict(test_features)
sub1_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn1_df=pd.concat([submsn1_df,sub1_df],axis=1)
# sub_df.info()
# submsn_df.info()
submsn1_df=submsn1_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   key          9914 non-null   object
 1   fare_amount  9914 non-null   float64
dtypes: float64(1), object(1)
memory usage: 155.0+ KB

In [170]:
submsn1_df.to_csv(r'submsn_1.csv',index=False)

In [171]:
pred=knn.predict(test_features)
sub2_df=pd.DataFrame(pred,columns=['fare_amount'])
submsn2_df=pd.concat([submsn2_df,sub2_df],axis=1)
# sub_df.info()
# submsn_df.info()
submsn2_df=submsn2_df.drop(['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','pickup_datetime'],axis=1)
submsn2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   key          9914 non-null   object
 1   fare_amount  9914 non-null   float64
dtypes: float64(1), object(1)
memory usage: 155.0+ KB

In [172]:
submsn2_df.to_csv(r'submsn_2.csv',index=False)